Django<=3.1.99
django-extensions<=3.1.99
djangorestframework<=3.11.99
djoser<=5.0.99
geopy<=2.2.99
gunicorn<=20.1.99
psycopg2-binary<=2.9.99
django-cors-headers<=3.7.99

# predictor
pyproj<=3.4.1
shapely<=2.0.1
pandas<=1.5.3
django-q<=1.3.9

# views
Markdown==3.6

# tests
responses==0.24.1