Django<=3.1.99
django-extensions<=3.1.99
djangorestframework<=3.11.99
djoser<=5.0.99
geopy<=2.2.99
gunicorn<=20.1.99
psycopg2-binary<=2.9.99
django-cors-headers<=3.7.99

# jupyter
ipykernel==6.16.0
ipython==8.5.0
ipython-genutils==0.2.0